* {
  background-color: antiquewhite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav.container {
  display: flex;
}

 .nav {
  margin: 3px;
  border-radius: 20px;
  padding: 4px;
}

ul {
  border: black solid 1px;
  width: 300px;
  background-color: rgb(248, 213, 170);
}

a {
  text-decoration: none;
  padding: 4px;
  border-radius: 30px;
  background-color: rgba(165, 42, 42, 0.658);
  color: white;
}

a.home {
  font-size: larger;
}

div.head{
  text-align: center;
  margin: 8px;
}

div.recipe {
  border: 2px dashed darkred;
  padding: 20px;
  margin: 0 4px;
}