* {
  background-color: antiquewhite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
  border: black solid 1px;
  width: 300px;
  background-color: rgb(248, 213, 170);
}

a {
  text-decoration: none;
}

a.home {
  font-size: larger;
}

div.head{
  text-align: center;
  margin: 8px;
}

div.recipe {
  border: 2px dashed darkred;
  padding: 20px;
  margin: 0 4px;
}