* {
  background-color: lightpink;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  background-color: mediumspringgreen;
  margin: 1rem;
  text-align: center;
  border-radius: 30px;
}

nav.container {
  display: flex;
  justify-content: center;
  border: plum dashed 2px;
}

 .nav {
  margin: 3px;
  border-radius: 20px;
  padding: 4px;
  flex: 0 1 auto;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  padding: 4px;
  border-radius: 30px;
  background-color: yellow;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  font-style: oblique;
}

a.home {
  font-size: larger;
}

div.head{
  text-align: center;
  margin: 8px;
}

div.recipe {
  border: 2px dashed yellow;
  background-color: skyblue;
  padding: 20px;
  margin: 0 4px;
}

div.recipe * {
  background-color: skyblue;
}

div.recipe ul {
  border: black solid 1px;
  border-radius: 10px;
  width: 300px;
  background-color: yellow;
}

.ingredients li {
  background-color: yellow;
  border-radius: 0 10px 10px 0;
}